.barchart {
    width: 45%;
    height: 300px;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@media screen and (max-width: 768px) {
    .barchart {
        width: 90%;
        margin-top: 30px;
    }
  }