.content {
    width: 100%;
    background-color: #E5E7EB;
    height: auto;
    min-height: 92vh;
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    flex-direction: column;   
}
.ticketWrapper {
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.contentWrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
}
@media screen and (max-width: 768px) {
    .ticketMargin {
        margin-top: 105px;
    }
    .contentWrapper {
        flex-direction: column;
    }
  }
